.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkslateblue;
    padding: 20px;
  }
  
  .left {
    flex: 1;
    text-align: left;
  }
  
  .right {
    text-align: right;
  }
  